.footer {
  background: $dark;
  padding: 65px 10px 25px 10px;
  text-align: center;

  & img {
    height: 48px;
    margin-bottom: 25px;
  }

  & p {
    font-size: 16px;
    font-weight: 500;
    line-height: 34.22px;
    color: $white;
  }
}