.buttonDefault {
  font-weight: 500;
  font-size: 18px;
  line-height: 34.22px;
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.buttonProduct {
  text-decoration: none;
  color: $white;
}