.buttonDefault {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: $dark;
}

.buttonNavbar {
  font-weight: 500;
  font-size: 18px;
  line-height: 34.22px;
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.buttonProduct {
  text-decoration: none;
  color: $white;
}