.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 10px;
  gap: 125px;

  h1 {
    font-size: 288px;
    font-weight: 700;
    line-height: 225px;
    text-align: center;
    color: $primaryKasa;
    margin: 0;
  }

  & p {
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: $primaryKasa;
  }
}